@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* universal selector start */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* universal selector end */

/* Header section start */
header {
    width: 100%;
    height: 40px;
    padding: 0px 100px;
    background-color: #022d7c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 span {
    font-size: 15px;
    font-weight: normal;
}

/* Header section end */

/* Banner section start */
.banner {
    width: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
        url(../img/1st\ image.jpg);
    background-size: cover;
}

.banner h1 {
    font-size: 44px;
    font-weight: 100;
}

.banner h1 span {
    display: block;
    font-size: 69px;
    font-weight: 1000;
}

.banner h1 span.safety {
    font-size: 46px;
    font-weight: 100;
    letter-spacing: 1px;
}

.banner aside {
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    background: #022d7c;
}

.banner aside input[type] {
    width: 100%;
    height: 40px;
    margin: 5px;
}

.banner aside textarea {
    width: 100%;
    height: 170px;
    margin: 5px;
}

.banner aside button {
    width: 100%;
    height: 40px;
    margin: 5px;
    background: #00ffff;
}

.banner aside input[placeholder] {
    text-align: center;
}

/* /Banner section end */

/* our feature section start */
.feature {
    width: 100%;
    height: auto;
    display: flex;
    color: #022d7c;
    margin-top: 50px;
    padding: 0px 100px;
    justify-content: space-between;
}

.feature div {
    width: 30%;
    height: 450px;
}

.feature div h4 {
    font-size: 30px;
    margin-bottom: 7px;
}

.feature div img {
    width: 350px;
    height: 200px;
}

.feature div p {
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

/* /our feature section end */

/* About us section start */
.about {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 60px 250px;
    background: #022d7c;
    text-align: center;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

.about p {
    font-size: 18px;
    font-weight: normal;
}

.about button {
    margin-top: 50px;
    padding: 10px 100px;
    background: #022d7c;
    color: #00fff5;
    border: 1px solid #fff;
    border-radius: 50px 0px;
    font-weight: bold;
}

/* /About us section end */

/* our service section start */
.services {
    width: 100%;
    height: auto;
    padding: 0px 100px;
}

.services .up,
.services .down {
    display: flex;
    align-items: center;
    text-align: justify;
}

.services .image,
.services .content1,
.services .content2 {
    width: 50%;
}

.services .image img {
    width: 576px;
    height: 100%;
}

.services .content1 {
    padding-left: 50px;
    text-align: justify;
}

.services .content2 {
    padding-right: 50px;
    text-align: justify;
}

.services .content1 h2,
.services .content2 h2 {
    color: #022d7c;
    margin-bottom: 50px;
}

.services .content1 p,
.services .content2 p {
    font-size: 18px;
}

/* /our service section end */

/* footer section start */
footer {
    width: 100%;
    height: auto;
    background: #022d7c;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

/* /footer section end */

/* media screen section 1200px start */

@media screen and (max-width:1200px) {

    /* Banner section media screen start */

    header {
        padding: 10px;
    }

    header h2 {
        font-size: 20px;
    }

    .banner {
        padding: 0px;
    }

    .banner h1 {
        font-size: 30px;
        font-weight: 100;
    }

    .banner h1 span {
        font-size: 40px;
        font-weight: 100;
    }

    .banner h1 span.safety {
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .banner main {
        padding-left: 40px;
    }

    .banner aside {
        margin-top: 0px;
        margin-right: 10px;
        padding-right: 20px;
    }

    /* /Banner section media screen end */

    /* our feature section media screen start */
    .feature {
        width: 100%;
        height: auto;
        display: flex;
        color: #022d7c;
        margin-top: 25px;
        padding: 0px 0px;
    }

    .feature div {
        width: 100%;
        height: 500px;
    }

    .feature div h4 {
        font-size: 20px;
        margin-bottom: 7px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .feature div img {
        width: 100%;
        height: 30%;
        padding: 10px;
        padding-bottom: 0px;
    }

    .feature div p {
        margin-top: 10px;
        font-size: 18px;
        text-align: justify;
        padding: 10px;
        padding-bottom: 0px;
    }

    /* our feature section media screen end */

    /* About us section media screen start */

    .about {
        padding: 50px 100px;
    }

    .about h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .about p {
        font-size: 17px;
        font-family: 'Times New Roman', Times, serif;
    }

    .about button {
        margin-top: 15px;
        padding: 10px 80px;
        color: #d0ff00;
        border: 1px solid #fff;
        border-radius: 10px 10px 50px 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* /About us section media screen end */

    /* our service section media screen start */
    .services {
        width: 100%;
        height: 100%;
        padding: 40px 0px;
    }

    .services .up,
    .services .down {
        display: flex;
        align-items: center;
        text-align: justify;
    }

    .services .image,
    .services .content1,
    .services .content2 {
        width: 100%;
    }

    .services .image img {
        width: 100%;
        height: 100%;
    }

    .services .content1 {
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }

    .services .content2 {
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
        margin-bottom: 10px;
    }

    .services .content1 h2,
    .services .content2 h2 {
        color: #022d7c;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .services .content1 p,
    .services .content2 p {
        font-size: 18px;
    }

    /* /our service section media screen end */
}

/* /media screen section 1200px end */


/* media screen section 992px start */

@media screen and (max-width:992px) {

    /* header section media screen start */

    header {
        padding: 10px;
    }

    header h2 {
        font-size: 20px;
    }

    /* /header section media screen end */

    /* Banner section media screen start */

    .banner {
        padding: 0px;
    }

    .banner h1 {
        font-size: 30px;
        font-weight: 100;
    }

    .banner h1 span {
        font-size: 40px;
        font-weight: 100;
    }

    .banner h1 span.safety {
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .banner main {
        padding-left: 40px;
    }

    .banner aside {
        margin-top: 0px;
        margin-right: 10px;
        padding-right: 20px;
    }

    /* /Banner section media screen end */

    /* our feature section media screen start */
    .feature {
        width: 100%;
        height: auto;
        display: flex;
        color: #022d7c;
        margin-top: 25px;
        padding: 0px 0px;
    }

    .feature div {
        width: 100%;
        height: 500px;
    }

    .feature div h4 {
        font-size: 20px;
        margin-bottom: 7px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .feature div img {
        width: 100%;
        height: 30%;
        padding: 10px;
        padding-bottom: 0px;
    }

    .feature div p {
        margin-top: 10px;
        font-size: 18px;
        text-align: justify;
        padding: 10px;
        padding-bottom: 0px;
    }

    /* our feature section media screen end */

    /* About us section media screen start */

    .about {
        padding: 20px 30px;
        width: 100%;
    }

    .about h2 {
        font-size: 22px;
    }

    .about p {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    .about button {
        margin-top: 15px;
        padding: 10px 80px;
        color: #ff00dd;
        border: 1px solid #fff;
        border-radius: 0px 50px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    /* /About us section media screen end */

    /* our service section media screen start */
    .services {
        width: 100%;
        height: 100%;
        padding: 40px 0px;
    }

    .services .up,
    .services .down {
        display: block;
        align-items: center;
        text-align: justify;
    }

    .services .image,
    .services .content1,
    .services .content2 {
        width: 100%;
    }

    .services .image img {
        width: 100%;
        height: 100%;
    }

    .services .content1 {
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }

    .services .content2 {
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
        margin-bottom: 10px;
    }

    .services .content1 h2,
    .services .content2 h2 {
        color: #022d7c;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .services .content1 p,
    .services .content2 p {
        font-size: 18px;
    }

    /* /our service section media screen end */
}


/* /media screen section 992px end */



/* media screen section 768px start */
@media screen and (max-width:768px) {

    /* header section media screen start */
    header h2 {
        font-size: 14px;
    }

    header h2 span {
        font-size: 10px;
        text-wrap: nowrap;
    }


    /* /header section media screen end */

    /* Banner section media screen start */


    .banner {
        flex-direction: column;
        padding-bottom: 10px;

    }

    .banner h1 {
        font-size: 25px;
        padding-top: 10px;
    }

    .banner aside {
        padding-right: 30px;
    }

    /* /Banner section media screen end */

    /* our feature section media screen start */
    .feature {
        height: 600px;
    }

    /* our feature section media screen end */

    /* About us section media screen start */

    .about {
        padding: 30px 30px;
    }

    .about h2 {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
    }

    .about p {
        font-size: 14px;
    }

    .about button {
        margin-top: 25px;
        padding: 10px 60px;
    }

    /* /About us section media screen end */

}

/* /media screen section 768px end */

/* media screen section 576px start */
@media screen and (max-width:576px) {

    /* header section media screen start */
    header {
        display: none;
    }

    /* /header section media screen end */
}

/* /media screen section 576px end */